.reverseMode {
  width: 100%;
  display: none;
  overflow: hidden;
}
.blackJack {
  overflow: hidden;
}
@media screen and (max-width: 550px) {
  .reverseMode {
    display: flex;
  }
  .blackJack {
    display: none;
  }
}
